<% error = @deliver.errors.include?(:company_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :company_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :company_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:company_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @deliver.errors.include?(:deliver_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :deliver_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :deliver_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:deliver_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @deliver.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @deliver.errors.include?(:mobile) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :mobile, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :mobile, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:mobile) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @deliver.errors.include?(:company) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :company, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :company, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:company) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:delivers, :index), :class => 'btn btn-default' %>
</div>