
<div id="deliver_content" class='container'>
<h3>信息汇总</h3>
<hr>
<div class="row">
<div class="col-md-4">
<div id="info_back">
<% if @delivers %>	
	<% @delivers.each do |deliver| %>
		<p><%= deliver[1].deliver_id.to_s %>
		<b>已经在公司待命</b>
		</p>
	<% end %>
<% end %>
<% if @new_settle %>
	<p><b><%= @new_settle %></b></p>
<% end %>
</div>
</div>
<div class="col-md-4">
	<div class="row">
		<span class="btn btn-primary" data-toggle="modal" data-target="#new_node">新的快递区域</span>
		<span class="btn btn-primary" data-toggle="modal" data-target="#new_order">新定单</span>
	</div>
	<div><hr></div>
	<div class="row">
		<div class="col-md-4">区域1----到</div>
		<div class="col-md-4">----区域2</div>
		<div class="col-md-4">需要用时</div>
	</div>
	
	<div><hr></div>	
		<% @node_ways.each_with_index do |item, index| %>
			<div class="row">
				<div class="col-md-4"><%= Node.find(item.node_one).name %></div>
				<div class="col-md-4"><%= Node.find(item.node_two).name %></div>
				<div class="col-md-3"><%= item.longlast %>分钟</div>
				<div class="col-md-1 delete_node_way" wayID="<%= item._id %>" >&times
					
				</div>
			</div>
			<div><hr></div>	
		<% end %>
	
</div>
<div class="col-md-4">
	<div class="row">
		<div class="col-md-8">订单信息</div>
		<div class="col-md-4">剩余时间</div>
	</div>
</div>
</div>
<!--弹出框_添加地址 -->
<div id="new_node" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="new_nodeLabel" aria-hidden="true">
	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new_nodeLabel">添加新区域</h4>
      </div>
      <div class="modal-body">
        <% form_for @node, url(:index,:create_node), id:"sumbit_node_way_form" do |f| %>
        <%= hidden_field_tag :company_node_id, value: @company_node._id %>
        <%= hidden_field_tag :company_id, value: @company._id %>
      <div> 
      <span><%= label_tag :区域名称 %><%= text_field_tag :node_name, id: 'node_name' %></span>
	  </div>
	  <% @nodes.each do |t| %>
	  <div> 
      <span><span>此区域到<strong style="color:red;"><%= t.name %></strong></span>区域所花费的时间</label><%= number_field_tag("time_cost"+t._id,options={min:"5", max:"120"} ) %>分钟</span>
      
	  </div>
	  <% end %>
	   
       </div>
	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">确认添加</button>
         <% end %>
	</div>
	</div>
</div>


<!--弹出框_添加订单 -->
<div id="new_order" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="new_orderLabel" aria-hidden="true">
	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new_orderLabel">添加新订单</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">确认添加</button>
	</div>
	</div>
</div>
<!--弹出框_添加距离 -->
<div id="add_distance" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="add_distanceLabel">添加新订单</h4>
      </div>
      <div class="modal-body">
      </div>
	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">确认添加</button>
	</div>
	</div>
</div>

</div><!--end of container-->
<div class="modal fade bs-confirm-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">确认删除</h4>
      </div>
      <div class="modal-body">
			<h4>是否确认删除这两个区域及其距离关系？</h4>
			<% form_tag url(:index, :delete_node_way) do %>
			<%= hidden_field_tag :node_way_id %>
			<%= hidden_field_tag :company_node_id, value: @company_node._id %>
        	<%= hidden_field_tag :company_id, value: @company._id %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">确认</button>
        	<% end %>
    </div>
  </div>
</div>
</div>
<div class="modal fade bs-warning-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
       <% if @success %>
			<h4>新区域建立成功</h4>
	   <% end %>
	   <% if @error %>
	   		<h4>此区域名已经存在</h4>
	   <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
        
    </div>
  </div>
</div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.delete_node_way').each(function(){
			$(this).mouseover(function(event) {
				$(this).css('cursor', 'pointer');
			});
			$(this).click(function(event) {
				$('.bs-confirm-modal-sm').modal('show');
			});
		});
		$("#sumbit_node_way_form").submit(function(event) {
			if($("#node_name").val()=='')
			{
				alert('区域名不能为空');
				return false;
			}
		});

	});

</script>
<% if @error or @success
	#返回区域建立的成功与否的成功或者失败的消息 
%>
	<script type="text/javascript">
	$(document).ready(function($) {
		$('.bs-warning-modal-sm').modal('show');
	});
	</script>>
<% end %>
