<% error = @node_way.errors.include?(:node1) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :node1, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :node1, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:node1) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @node_way.errors.include?(:node2) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :node2, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :node2, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:node2) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @node_way.errors.include?(:fee) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :fee, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :fee, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:fee) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:node_ways, :index), :class => 'btn btn-default' %>
</div>